@import "../1-tools/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: em(40px);
// $gutter: em(10px);
$grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(960);
