// $sans-serif =  'Open Sans'
// $serif = 'Roboto Slab'
// $helvetica =  'Helvetica Nue'

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  // font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: $bold;
}
.thin-heading{
   @extend h1;
   font-weight: $thin;
   font-size: 50px;
   color: $light-text;
   margin: 0px 0px 0px;
}
.thick-heading{
   @extend h1;
   font-weight: $bold;
   font-size: 50px;
   color: $dark-text;
   margin: 0px 0px 0px;
}

p {
  margin: 0 0 $small-spacing;
}

a,.link {

   color: $link-color;
   text-decoration: none;
   transition: color 0.1s linear;

   &:active,
   &:focus,
   &:hover {
     color: darken($link-color, 10%);
   }

   &:active,
   &:focus {
     outline: none;
   }
}
a.category-link{
   font-weight: $bold;
   color: $medium-gray;
   padding-top: 0px;
   border-bottom: 4px solid $orange;
   display: inline-block;
   margin-right: 3px;
   // text-transform: uppercase;
   &.math-link{
      border-color: $green;
   }
   &.swe-link{
      border-color: $yellow;
   }
   &.eng-link{
      border-color: tomato;
   }
   &.junior-link{
      border-color: lighten($dark-blue,30)
   }
   &.middle-link{
      border-color: lighten($dark-blue,20)
   }
   &.senior-link{
      border-color: fade-out($dark-blue, 0.1);
   }
}



// hr {
//   border-bottom: $base-border;
//   border-left: none;
//   border-right: none;
//   border-top: none;
//   margin: $base-spacing 0;
// }
//
// img,
// picture {
//   margin: 0;
//   max-width: 100%;
// }
