
<script src="/assets/js/tools/jquery-2.1.1.min.js"></script>
<script src="/assets/js/index.js"></script>

<footer>
   <div class="wrapper">
      <div class="footer-section">
         <h3 class="footer-section-header">Om projektet</h3>
         <ul>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
         </ul>
      </div>
      <div class="footer-section">
         <h3 class="footer-section-header">Om forskargruppen</h3>
         <ul>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
         </ul>
      </div>
      <div class="footer-section">
         <h3 class="footer-section-header">Kontakta oss</h3>
         <ul>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
            <li>qwerty zxc asd</li>
         </ul>
      </div>

   </div>

</footer>
