
<script src="/assets/js/tools/jquery-2.1.1.min.js"></script>
<script src="/assets/js/index.js"></script>

<footer>
   <div class="wrapper">
      <div class="footer2-logo">

      </div>
      <div class="footer-logos">
         <div class="footer-logo">
            <!-- <img class="footer-logo-bildetg" src="/assets/img/etg.png" alt="Etg" /> -->
         </div>
         <div class="footer-logo">
            <!-- <img class="footer-logo-bildliu" src="/assets/img/liulogga.png" alt="liu" /> -->
         </div>
         <div class="footer-logo">
            <!-- <img class="footer-logo-bildlu" src="/assets/img/lulogga.png" alt="lu" /> -->
         </div>
      </div>
      <!-- <hr> -->
      <p class="footer-copy">
         Copyright &copy
         <span id="copy-year"></span>
         DigiTech.se  |  <a href="http://www.lucs.lu.se/educational-technology/">Educational Technology Group</a>
          |  kontakt@edutech.se
      </p>
      <hr>
   </div>
</footer>
