
<header id="header">
   <div class="wrapper">
      <div class="logo">
         <h1 class="big-text">En ny generation digitala lärmodel</h1>
      </div>
      <nav>
         <ul>
            <!-- {% for node in site.pages %}
            {% if page.url == node.url %}
            <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %}
            {% endfor %} -->
            <li><a  {% if page.url == '/' %}class="nav-item-active"{% endif %} href="/"> Start </a></li>
            <li><a  {% if page.url == '/themes/' %}class="nav-item-active"{% endif %} href="/themes/">Teman</a></li>
            <li><a  {% if page.url == '/recommendations/' %}class="nav-item-active"{% endif %} href="/recommendations/"> Rekomendationer </a></li>
            <!-- <li><a  >Demo</a></li> -->
            <li><a  {% if page.url == '/articles/' %}class="nav-item-active"{% endif %} href="/articles/"> Artiklar </a></li>
            <li><a  >Nyheter</a></li>
            <li><a  {% if page.url == '/about/' %}class="nav-item-active"{% endif %} href="/about/"> Om Oss </a></li>
         </ul>
      </nav>
   </div>
</header>
