
<header>
   <div class="wrapper">
      <div class="logo">
         <h1 class="big-text">En ny generation digitala lärmodel</h1>
      </div>
      <nav>
         <ul>
            <li><a href="">Teman</a></li>
            <li><a href="">Demo</a></li>
            <li><a href="">Digitala läromedel</a></li>
            <li><a href="">Artiklar</a></li>
            <li><a href="">Nyheter</a></li>
            <li><a href="">Om Oss</a></li>
            <li><a href="">Kontakt</a></li>
         </ul>
      </nav>
   </div>
</header>
