@mixin red
   background: red


.section-parent
   position: relative
   // top: 10px

   color: $light-text

   background: $section-bg-5
   &:nth-child(1)
      background: $section-bg-3
      // margin-top: 62px
   &:nth-child(2)
      background: $section-bg-0
   &:nth-child(3)
      background: $section-bg-5
   //    color: $light-text
   // &:nth-child(3n)
   //    background: $section-bg-3
   //    color: $light-text
   // &:nth-child(2), &:nth-child(8)
   //    background: $section-bg-4
   // @include span-columns(3)


      // +omega(2n)
   // @include row()
   .wrapper
      section
         // margin-bottom: 2px
         // background: $medium-gray

         // @include outer-container
         .about-media
            +span-columns(12)
            // background: $water-blue

            padding: 20px 30px
            min-height: 400px

            +display(flex)
            +flex-direction(row)
            +justify-content(space-between)
            .img
               background: $soft-gray
               margin: auto 10px
               +size(400px)
            .info
               // background: gold
               margin: 10px
               padding: 0 10px
               +span-columns(6)
               +display(flex)
               +flex-direction(column)
               +justify-content(space-between)
               h3
                  margin: 0px 0px -6px
                  padding-bottom: 0px
                  font:
                     size: 50px
                     weight: 200
               p
                  font:
                     size: 20px
                     weight: 200
                  margin: 15px 0

               a

                  color: fade-out($light-text, 0.12)
                  padding: 0px
                  // -webkit-hyphens: auto
                  // -moz-hyphens: auto
                  // -ms-hyphens: auto
                  // hyphens: auto
                  word-wrap: break-word
                  text-align: center
                  font:
                     size: 30px
                     weight: 700
                  div
                     padding: 4px 8px 6px 15px

                     border:
                        color: fade-out($light-text, 0.15)
                        width: 5px
                        style: solid

               // +size(500px 400px)
               // @include span-columns(4)
               // background: $dark-teal

         +media($desktop)
            +span-columns(12)
            +shift(0)
            +omega(n)

         +media($tablet)
            padding: 0px
            .about-media
               +justify-content(space-around)
               &:nth-child(2n)
                  +justify-content(flex-start)
               padding: 30px 0px
               .img
                  +size(320px)
               .info
                  +span-columns(4)
                  // padding: 0px

         &#liu-section
            .info

               color: $dark-text
               a
                  color: fade-out($dark-text, 0.14)
                  div
                     border-color: $dark-text
                     border-color: fade-out($dark-text, 0.25)
                  &:hover
                     color: darken($water-blue, 30)
                     div
                        border-color: darken($water-blue, 30)
                        // background: fade-out(lightblue,0.9)

            .img
               background:
                  image: url("https://pbs.twimg.com/profile_images/801272120/liu_sigill_400x400.jpg")
                  size: cover
                  repeat: no-repeat
                  position: 50% 50%

         // &#children-computer-section
         //    position: relative
         //    +fill-parent
         //    // background: red
         //    .info
         //       position: absolute
         //       width: 100%
         //    .img
         //       background-size: cover
         //       background-position: 30%
         //       background-repeat: no-repeat
         //       // background-image: url("http://yourlivingcity.com/stockholm/wp-content/uploads/2011/11/granefelt-girls+with+a+computer+-916.jpg")

         &#child-ipad-section
            .info>a
               text-align: left
               &:hover
                  color: $dark-teal
                  div
                     border-color: fade-out($light-text, 1)
                     background: fade-out($light-text, 0.2)
            .img
               background:
                  image: url("http://macgenesis.net/wp-content/uploads/2011/10/ipad-in-school-2.jpg")
                  size: cover
                  repeat: no-repeat
                  position: 50% 50%

               box-shadow: -2px 1px 4px #333
#children-computer-parent

   background-color: tomato
   background-size: cover
   // background-size: 100%
   background-position: 50%-50%
   background-repeat: no-repeat
   background-image: url("http://yourlivingcity.com/stockholm/wp-content/uploads/2011/11/granefelt-girls+with+a+computer+-916.jpg")
   //z-index: -10
   .wrapper
      #children-computer-section
         padding: 0px 0px 20px
         margin: 0px
         position: relative
         +display(flex)
         //background: red
         min-height: 500px
         height: 100%
         +justify-content(center)
         +align-items(flex-end)
         .about-media
            padding: 0px
            margin: 0px
            //background: olive
            position: relative
            text-align: center
            //+size(100%)
            width: 70%
            min-height: 200px
            .children-computer-overlay
               padding: 10px
               z-index: 0
               position: absolute
               +fill-parent
               height: 100%
               background: rgba($dark-gray,0.4)
               // background: red
            .info
               padding: 10px 40px 20px
               margin: 0px
               // background: blue
               +fill-parent
               // position: relative
               // width: 500px
               // min-height: 200px
               // min-width: 800px
               // padding: 100px
               z-index: 2
               color: $light-text
               a
                  color: fade-out($light-text, 0)
                  div
                     border-color: fade-out($light-text, 0)
                  &:hover
                     z-index: 15
                     color: fade-out($light-text, 0)
                     div
                        z-index: 10
                        background: fade-out($dark-text, 0.2)
                        border-color: fade-out($light-text, 0.99)
