
#articles-intro-section
   @extend .intro-section
   background: $medium-teal
   h1
      padding-left: 4px
.articles
   .section-parent
      position: relative
      // top: 10px
      color: $dark-text
      background: $section-bg-0

      //&:nth-child(1)
         background: $soft-gray


      // .wrapper
      //    section
      //       color: $dark-text
      //       padding: 15px 40px 0px
      //       h1
      //          @extend .thin-heading
      //          margin-left: -4px
      //          margin-bottom: 4px
      //       +media($tablet)
      //          padding: 15px 20px 0px

   #articles-intro-section
      @extend .intro-section
      background: $section-bg-3
      .wrapper
         section
            color: $light-text
            padding: 15px 40px 0px
            h1
               // @extend .thin-heading
               margin-left: -4px
               margin-bottom: 4px
            +media($tablet)
               padding: 15px 20px 0px


   #articles-section
      padding: 10px 30px
      min-height: 70vh
      +media($tablet)
         padding: 10px
      // background: #aaa
      display: flex
      flex-direction: column
      align-items: center

      .article
         +span-columns(12)
         min-height: 100px
         background: $media-box-bg
         margin: 10px 2px
         padding: 10px
         box-shadow: 1px 0px 2px #999
         h3
            @extend .thick-heading
            font-size: 1.4em
            margin: 0px 0px
            display: inline-block
            i
               font-size: 1.2em
               color: $accent-color
               position: relative
               top: -2px
               margin-right: 4px
               // left: -6px
         hr
            margin: 4px 0px 8px
            padding: 0px
            // margin: 10px 2px
            height: 1px
            border-width: 0
            color: $accent-color
            background-color: $accent-color
            // padding: 0px
            // &:nth-child(2)
            //    display: black
            //    margin: 5px 0
         i
            // font-size: 1.4em
            // position: relative
            // top: -2px
         h4
            font-weight: $bold
            color: $medium-gray
            padding-top: 0px
            // border-bottom: 4px solid $orange
            // display: inline-block
            margin: 5px 0px 5px
         a
            color: $accent-color
         .abstract
            display: flex
            margin-bottom: 0px
            p
               padding-left: 2px
               margin-bottom: 20px
               color: black
