
header
   *
      margin: 0px
      padding: 0px
   width: 100%
   background: $dark-bg
   text-align: left
   .wrapper
      padding: 5px 10px 10px
   .logo
      width: 30%
      display: inline-block
      h1
         // text-align: left
         // background: coral
         // float: left
         font:
            size: 36px
         color: $light-text

   nav
      clear: left
      display: inline-block
      width: 69%
      // background: pink
      text-align: right
      ul
         li
            display: inline
            margin-left: 15px
            a
               color: $light-text
               font:
                  size: 20px
                  weight: 700
               &:hover
                  color: $light-medium-gray
