.index
   .section-parent
      padding: 24px
      +media($tablet)
         padding: 15px 0px
      position: relative
      // top: 10px

      color: $light-text

      background: $section-bg-1
      &:nth-child(1)
         background: $white
         // margin-top: 62px
      &:nth-child(2)
         background: $white
      &:nth-child(3)
         background: $dark-teal
      &:nth-child(4)
         background: $medium-teal
      &:nth-child(5)
         background: $dark-blue
      &:nth-child(6)
         background: $white

      .wrapper
         section
            // @extend .index-section
            .content-box
               +span-columns(12)
               padding: 20px 30px
               min-height: 400px
               +display(flex)
               +flex-direction(row)
               +justify-content(space-between)
               .img
                  background: $soft-gray
                  margin: auto 10px
                  +size(420px)
               .info
                  //förslag - banta innehållet i textmängd på tabletversionen
                  .p-tablet
                     display: none
                  .p-desktop
                     display: inline-block
                  +media($tablet)
                     .p-tablet
                        display: inline-block
                     .p-desktop
                        display: none

                  margin: 10px
                  padding: 0 10px
                  +span-columns(6)
                  +display(flex)
                  +flex-direction(column)
                  +justify-content(space-between)
                  h1
                     font-size: 3.5em
                  h3
                     @extend .thin-heading
                     +media($tablet)
                        // font-size: 40px
                  p
                     @extend .p-section
                     margin: 15px 0

                  ul
                     list-style: none
                  li
                     font:
                        size: 30px
                        weight: 500
                     margin: 0 0 12px
                  a
                     @extend .thick-heading
                     line-height: $heading-line-height*1.7
                     color: fade-out($light-text, 0.12)
                     padding: 0px
                     word-wrap: break-word
                     text-align: center
                     font:
                        size: 30px
                        weight: 700
                     +media($tablet)
                        font-size: 20px
                     div
                        padding: 4px 8px 6px 15px
                        &:hover
                           border-color: fade-out($light-text, 0)
                           background: fade-out($light-text, 0)
                        border:
                           color: fade-out($light-text, 0.15)
                           width: 5px
                           style: solid

            +media($desktop)
               +span-columns(12)
               +shift(0)
               +omega(n)

            +media($tablet)
               padding: 0px
               .content-box
                  +justify-content(space-around)
                  &:nth-child(2n)
                     +justify-content(flex-start)
                  padding: 10px 0px 0px
                  .img
                     +size(40vw)
                     min-width: 280px
                     min-height: 280px
                  .info
                     +span-columns(4)

            &#liu-section
               .info
                  a
                     div
                        +transition(background .5s)
                     &:hover
                        color: $medium-teal
               .img
                  @extend .round
                  background:
                     color: fade-out($medium-teal, 0)
                     color: white
                     image: url("/assets/img/logos/liu.png")
                     size: contain
                     repeat: no-repeat
                     position: 50% 50%
                  div
                     @extend .round
                     background: fade-out($dark-teal, 0.7)
                     +size(100%)


            &#liu-section2
               @extend #liu-section

               .info
                  .content
                     h1
                        color: $dark-text
                  color: $dark-text
                  a
                     +transition(color .3s)
                     color: fade-out($dark-text, 0.14)
                     div
                        border-color: fade-out($dark-text, 0.24)
                     &:hover
                        color: $accent-color
                        div
                           border-color: fade-out($dark-text, 0.24)
                           background: $white
               .img
                  // border-radius: 0
                  background:
                     color: fade-out($medium-teal, 0)
                     color: white
                     image: url("/assets/img/logos/liu.png")
                     size: contain
                     repeat: no-repeat
                     position: 50% 50%
                  div
                     @extend .round
                     background: fade-out($dark-blue, 0.3)
                     // display: none
                     +size(100%)

            &#child-ipad-section
               .info>a
                  div
                     +transition(background .5s)
                  text-align: left
                  &:hover
                     color: $dark-teal
               .img
                  box-shadow: -2px 1px 4px #333
                  background:
                     image: url("http://macgenesis.net/wp-content/uploads/2011/10/ipad-in-school-2.jpg")
                     size: cover
                     repeat: no-repeat
                     position: 50% 50%

            &#etg-section
               .content-box
                  padding: 8px
                  +display(flex)
                  +flex-direction(column)
                  +align-items(center)
                  .info
                     // background: #ccc
                     .content
                        h1
                           display: none
                           color: $dark-text
                     color: $dark-text
                     ul

                        // list-style-position: inside
                        li

                           margin-bottom: 16px
                           margin-left: 20px
                           p
                              color: $dark-text
                     .manifest
                        text-align: left
                        list-style-type: circle
                        list-style-position: inside
                        color: $accent-color
                        li
                           margin-bottom: 6px
                           &:last-child
                              margin-bottom: 36px
                           p
                              @extend .p-section
                              color: $dark-text
                              font-size: 0.9em
                              margin: 0
                              // font-weight: $bold
                     a
                        +transition(color .3s)
                        color: fade-out($dark-text, 0.14)
                        div
                           border-color: fade-out($dark-text, 0.24)
                        &:hover
                           color: $accent-color
                           div
                              border-color: fade-out($dark-text, 0.24)
                              background: $white
                     display: block
                     width: 100%
                     text-align: center
                     .content > p
                        width: 80%
                  .img
                     display: block
                     background: $white
                     margin: auto 0px
                     width: 100%
                     height: 132px
                     // box-shadow: -2px 1px 4px #333
                     background:
                        image: url("/assets/img/logos/etg.png")
                        size: contain
                        repeat: no-repeat
                        position: 50% 50%


#children-computer-parent

   background:
      size: cover
      position: 50%-50%
      repeat: no-repeat
      image: url("http://yourlivingcity.com/stockholm/wp-content/uploads/2011/11/granefelt-girls+with+a+computer+-916.jpg")
   .wrapper
      #children-computer-section
         padding: 0px 0px 20px
         margin: 0px
         position: relative
         +display(flex)
         min-height: 530px
         height: 100%
         +justify-content(center)
         // flex-end knas i ie11??
         +align-items(flex-end)
         .content-box
            padding: 0px
            margin: 0px
            position: relative
            text-align: center
            width: 70%
            min-height: 200px
            .children-computer-overlay
               padding: 10px
               z-index: 0
               position: absolute
               +fill-parent
               height: 100%
               background: rgba($dark-gray,0.4)
            .info
               padding: 10px 40px 20px
               margin: 0px
               +fill-parent
               z-index: 2
               color: $light-text
               a
                  color: fade-out($light-text, 0)
                  div
                     +transition(background,border-color .3s)
                     border-color: fade-out($light-text, 0)
                  &:hover
                     z-index: 15
                     color: fade-out($light-text, 0)
                     div
                        z-index: 10
                        background: fade-out($dark-text, 0.2)
                        border-color: fade-out($light-text, 0.99)
