.recommendation
   @extend .theme
   width: 70%
   // border-left: 1px solid $accent-color
   // background: #eee
   padding: 20px 0px 10px 10px
   // margin-top: 90px
   hr
      position: relative
      // left: -13px
      // width: 100%
      margin-bottom: 20px
   +media($tablet)
      width: 80%

   .category-link
      position: relative
      top: -6px
   h1
      padding-top: 0px
      margin-top: -10px
      margin-right: 4px
      display: inline-block
   .content
      +display(flex)
      +flex-direction(column)
      +justify-content()
      div
         min-height: 300px
         +media($tablet)
            min-height: 400px
         // min-width: 50%
         // +flex-grow(1)
      .info
         // background: fade-out(lightblue, 0.7)
         padding: 10px 0px
         ul
            position: relative
            // left: -10px
            list-style-type: circle
            list-style-position: inside
            li
               color: $accent-color
               margin-bottom: 16px
               // margin-left: 20px
               p
                  color: $dark-text
         .link-p
            @extend .thick-heading
            display: block
            a
               color: $accent-color
            font-size: 16px
            padding-top: 0px
            margin: 20px 0px 10px
      .img-holder
         // position: relative
         // left: -10px
         // width: 98%
         // margin: auto
         background: fade-out(coral, 0.7)
         .img
            // width: calc(100% - 20px)
            width: 100%
            margin: auto
            background: fade-out(lightgreen, 0.7)
            background:
               size: cover
               repeat: no-repeat
               position: 50% 50%


   img
      display: inline-block
   p
      // text-align: left
      // margin: 10px 0
   h2
      // margin: 20px 0 10px
   h3
      // font-style: italic
   h4
      // @extend .thick-heading
      // font-size: 18px
      // padding: 0
