

#recommendations-intro-section
   @extend .intro-section
   // background: $medium-teal
#filter-parent
   background: #eee
   .wrapper
      section
         .filter
            padding: 6px 38px
            // background: coral
            +span-columns(12)
            ul
               list-style: none
               li
                  display: inline-block
                  margin-right: 10px
                  a
                     font-size: 1.4em
                     margin-right: 6px
                  i
                     margin-left: 6px
                     font-size: 0.9em
                     color: $accent-color
                     position: relative
                     top: 1px

//GÖR OM denna och themes-section till en klass och en som extendar!
#recommendations-section
   background: $white
   section
      padding: 10px 0 60px
      +span-columns(12)
      // background: lightblue
      +media($desktop)
         // padding: 10px
      .recommendation-media-object
         +media($desktop)
            +span-columns(6)
            +omega(2n)
         +media($tablet)
            +span-columns(7)
            +omega(n)
            +shift(0.5)

         background: $media-box-bg
         box-shadow: 1px 0px 2px #999
         color: $dark-text
         margin: 10px 0 10px
         min-height: 300px
         padding: 10px
         position: relative
         div
            min-height: 200px
            +span-columns(6)
         .img-holder
            +clearfix
            position: absolute
            +span-columns(6)
            height: calc(100% - 20px)
            background: $soft-gray
            .img
               +size(100%)
               float: right
               margin-top: 0px
               background:
                  size: cover
                  repeat: no-repeat
                  // image: url("http://www.fillmurray.com/700/700")
                  position: 50% 50%
         &:nth-child(2)
            .img-holder
               .img
                  background-image: url("http://www.fillmurray.com/400/400")
         &:nth-child(3)
            .img-holder
               .img
                  background-image: url("http://www.fillmurray.com/400/600")
         .info
            +shift(6)
            padding-left: 10px
            hr
               margin: 10px 0
               &:nth-child(2)
                  display: none
                  margin: 5px 0
            h3
               @extend .thick-heading
               font-size: 1.4em
               span
                  color: lighten($dark-text, 10)
                  font:
                     size: 18px
                     weight: $thin
            p
               padding-left: 2px
               margin-bottom: 70px
               word-wrap: break-word
            a.media-box-button
               position: absolute
               bottom: 10px
               right: 10px
               width: calc(50% - 22px)
               color: $theme-link-color
               text-align: center
               font:
                  size: 1.0em
                  weight: $bold
               +transition(color 1.3s)
               &:hover
                  // font-size: 1.14em
                  color: darken($theme-link-color,80%)
                  background: darken($media-box-bg,4%)
               div
                  width: 100%
                  min-height: 40px
                  margin-bottom: 0px
                  padding: 4px 8px 6px 15px

                  border:
                     color: $theme-link-color
                     width: 4px
                     style: solid
