html
   height: 100%
   position: relative

body
   padding: 0px
   margin: 0px
   // border: 5px solid red

.wrapper
   @include outer-container
   background-color: #999

.page-content > .wrapper
   padding: 10px 0px
   background: #f9f9f9
   height: 1000px

.blog-post
   // background: #f4f4f4
   // padding: 0px 15px
